/* Change the color of all text in h1 tags */
h1 {
	color : purple;
}

/* Change the color of links in the document based on events */
a:hover { color: blue; }
a:active { color: red; }
a:visited { color: #989898; }

body {
	background: #5D8AA8;
}

div#wrapper{
	margin:auto;
	background:white;
	width:800px;
	height:2000px;
}

header {
	display:block;
	/* Padding Top, Right, Bottom, Left */
	padding: 0px 0px 70px 0px;
}

#websiteLogo{
	float:left;
}

/* Treat the nav tag as a block element */
#horzNav {
	display:block;
	/* Padding Top, Right, Bottom, Left */
	padding: 10px 20px 10px 0px;
	background: black;
}

/* Remove underlines from links in the nav element */
#horzNav a {
	text-decoration: none;
	padding: 0px 0px 0px 20px;
	color: white;
}

#vertNav{
	float:left;
	background: purple;
	/* Padding Top, Right, Bottom, Left */
	padding: 0px 30px 0px 20px;
}

#vertNav a {
	text-decoration: none;
	/* Links don't except padding by default so we must switch them to block */
	display: inline-block;
	/* Padding Top, Right, Bottom, Left */
	padding: 0px 0px 20px 0px;
	color:white;
}

main {
	/* Padding Top, Right, Bottom, Left */
	padding: 10px 20px 20px 20px;
}

aside {
	background:#EFDECD;
}

footer{
	background: black;
	color: white;
	padding: 10px 10px 10px 10px;
}

/* There are 4 types of list bullets */
#uoListTypes{
	/* list-style-type:circle; */
	/* list-style-type:disc; */
	/* list-style-type:square; */
	list-style-image: url(favicon.ico);
}

/* Ordered list types have many options
decimal, decimal-leading-zero, lower-roman, upper-roman, lower-latin, upper-latin, lower-alpha, upper-alpha, lower-greek, armenian, georgian */
#oListTypes{
	list-style-type:upper-roman;
}

#oListIndent{
	list-style-type:lower-roman;
}

#tableData {
	width:600px;
	border: 3px solid black;
}

#tableData td, th{
	border: 1px solid black;
}

#tableData colgroup.BBPName { background:#C9FFE5; }


/* Change the color of all text in h1 tags */
h1 {
	color : purple;
}

/* Change the color of links in the document based on events */
a:hover { color: blue; }
a:active { color: red; }
a:visited { color: #989898; }

body {
	background: #5D8AA8;
}

div#wrapper{
	margin:auto;
	background:white;
	width:800px;
	height:2000px;
}

header {
	display:block;
	/* Padding Top, Right, Bottom, Left */
	padding: 0px 0px 70px 0px;
}

#websiteLogo{
	float:left;
}

/* Treat the nav tag as a block element */
#horzNav {
	display:block;
	/* Padding Top, Right, Bottom, Left */
	padding: 10px 20px 10px 0px;
	background: black;
}

/* Remove underlines from links in the nav element */
#horzNav a {
	text-decoration: none;
	padding: 0px 0px 0px 20px;
	color: white;
}

#vertNav{
	float:left;
	background: purple;
	/* Padding Top, Right, Bottom, Left */
	padding: 0px 30px 0px 20px;
}

#vertNav a {
	text-decoration: none;
	/* Links don't except padding by default so we must switch them to block */
	display: inline-block;
	/* Padding Top, Right, Bottom, Left */
	padding: 0px 0px 20px 0px;
	color:white;
}

main {
	/* Padding Top, Right, Bottom, Left */
	padding: 10px 20px 20px 20px;
}

aside {
	background:#EFDECD;
}

footer{
	background: black;
	color: white;
	padding: 10px 10px 10px 10px;
}

/* There are 4 types of list bullets */
#uoListTypes{
	/* list-style-type:circle; */
	/* list-style-type:disc; */
	/* list-style-type:square; */
	list-style-image: url(favicon.ico);
}

/* Ordered list types have many options
decimal, decimal-leading-zero, lower-roman, upper-roman, lower-latin, upper-latin, lower-alpha, upper-alpha, lower-greek, armenian, georgian */
#oListTypes{
	list-style-type:upper-roman;
}

#oListIndent{
	list-style-type:lower-roman;
}

#tableData {
	width:600px;
	border: 3px solid black;
}

#tableData td, th{
	border: 1px solid black;
}

#tableData colgroup.BBPName { background:#C9FFE5; }

html52.html
